@font-face {
    font-family: 'Averta';
    src: url('./avertape-light-webfont.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
font-family: 'Averta';
src: url('./avertape-regular-webfont.woff2') format('woff2');
font-weight: 400;
}

@font-face {
font-family: 'Averta';
src: url('./avertape-semibold-webfont.woff2') format('woff2');
font-weight: 600;
}

@font-face {
font-family: 'Averta';
src: url('./avertape-semibold-webfont.woff2') format('woff2');
font-weight: 700;
}

@font-face {
font-family: 'Averta';
src: url('./avertape-extrabold-webfont.woff2') format('woff2');
font-weight: 900;
}

body {
    font-family: 'Averta';
}